.btn {
  background: $c-main;
  text-transform: uppercase;
  color: $c-white;
  font-weight: bold;
  font-size: 16px;

  padding: 12px 24px;
  border: none;

  &:hover {
    background: $c-main-hover;
  }
}
