$c-white: #fff;
$c-white-opacity: #d7ccc0;
$c-light: #f5f4f0;
$c-main: #fe8a02;
$c-main-hover: #EA7600;
$c-main-dark: #42413c;
$c-dark: #2a2626;
$c-dark-opacity: #908d8b;
$c-brown: #b09a81;
$c-blue: #1085c5;
$f-main: open sans, sans-serif;
$f-title: neucha regular, sans-serif;
$f-size: 16px;
$f-line-height: 1.6em;
$f-color: #2a2626;
$f-title-line-height: 1.2em;
$f-size-title: (
  h1: 72px,
  h2: 60px,
  h3: 34px,
);
$s-width: 1110px;
$s-margin-top: 100px;
$s-margin-bottom: 100px;
