@mixin generate-padding-classes {
  @for $i from 0 through 40 {
    $padding-value: $i * 5;
    .pt-#{$padding-value} {
      padding-top: #{$padding-value}px;
    }
    .pb-#{$padding-value} {
      padding-bottom: #{$padding-value}px;
    }
  }
}

@include generate-padding-classes;

@mixin generate-columns-classes {
  @for $i from 1 through 4 {
    .columns-#{$i} {
      column-count: #{$i};
    }
  }
}

@include generate-columns-classes;

@for $i from 1 to 4 {
  h#{$i} {
    font-size: map-get($f-size-title, 'h' + $i);
  }
}
